.windows-panel {
    background: #1f1f1f;
}

.windows-list {
}


.window-button-layout {
}

.window-button.focused {
    border: #3584e4 solid 2px;
}

.window-button-text {
    margin: 2px;
}

.window-button-icon {
    margin: 4px;
    margin-left: 10px;
}


.drag-button {
    border: #3584e4 solid 2px;
}